In [159]:
import requests
import pandas as pd



# Make the request with the appropriate headers
response = requests.get('https://datausa.io/api/data?drilldowns=Nation&measures=Population')

# Check if the request was successful
if response.status_code == 200:
    # Parse and use the response data
    data = response.json()

    data_values = data['data']

    # Convert the extracted data into a pandas DataFrame
    df_pop = pd.DataFrame(data_values)

    # Drop the specified columns
    columns_to_drop = ['ID Nation', 'ID Year', 'Slug Nation']
    df_pop = df_pop.drop(columns=columns_to_drop)

    # Print the DataFrame
    print(df_pop)
else:
    print(f'Error: {response.status_code} - {response.text}')

          Nation  Year  Population
0  United States  2021   329725481
1  United States  2020   326569308
2  United States  2019   324697795
3  United States  2018   322903030
4  United States  2017   321004407
5  United States  2016   318558162
6  United States  2015   316515021
7  United States  2014   314107084
8  United States  2013   311536594

In [160]:
#Try to read the file
try:
    # Read the CSV file
    df = pd.read_csv("API_GC.DOD.TOTL.GD.ZS_DS2_en_csv_v2_44281.csv", skiprows=4)

    # Filter rows for the United States
    us_data = df[df['Country Name'] == 'United States']

    # Melt the DataFrame to make years rows
    us_data = us_data.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                                   var_name='Year',
                                   value_name='Value')

    #clean the data
    columns_to_drop2 = ['Country Code', 'Indicator Name', 'Indicator Code']
    us_data = us_data.drop(columns=columns_to_drop2)
    us_data = us_data.dropna(subset=['Value'])
    # Print the transformed DataFrame
    print(us_data)

except Exception as e: #error handling
    print(f"Error reading CSV file: {e}")

     Country Name  Year       Value
29  United States  1989   39.128400
30  United States  1990   40.933944
31  United States  1991   44.061597
32  United States  1992   46.050144
33  United States  1993   48.246140
34  United States  1994   47.353482
35  United States  1995   47.209535
36  United States  1996   46.741769
37  United States  1997   44.117470
38  United States  1998   41.129149
39  United States  1999   37.727278
40  United States  2000   33.267655
41  United States  2001   52.443676
42  United States  2002   53.862514
43  United States  2003   56.250405
44  United States  2004   56.662286
45  United States  2005   56.538848
46  United States  2006   55.467336
47  United States  2007   55.659926
48  United States  2008   63.815130
49  United States  2009   75.842048
50  United States  2010   84.964411
51  United States  2011   89.546817
52  United States  2012   93.649262
53  United States  2013   95.534688
54  United States  2014   95.766699
55  United States  2015   96.425228
56  United States  2016   98.504102
57  United States  2017   97.692936
58  United States  2018   99.060976
59  United States  2019  100.805042
60  United States  2020  126.243301
61  United States  2021  120.361476
62  United States  2022  115.696632

Couldn't find a good SQL source to derive the data I wanted so I replaced it with a second API call as you said we could do in Discord.

In [161]:
#SECOND API SOURCE AS I COULD NOT FIND A FREE SQL SOURCE!
api_key = 'ADNJHTYMA0SOHPS0'

# Construct the API endpoint URL
base_url = 'https://www.alphavantage.co/query'
params = {
    'function': 'TIME_SERIES_DAILY',
    'symbol': 'NDAQ',
    'apikey': api_key,
    'outputsize': 'full',
    'datatype': 'json'
}

# Make the API request
response = requests.get(base_url, params=params)

# Check if the request was successful
if response.status_code == 200:
    data2 = response.json()

    # Check if the response contains the expected data key
    if 'Time Series (Daily)' in data2:
        # Extract the time series data
        time_series_data = data2['Time Series (Daily)']

        # Convert the extracted data into a pandas DataFrame
        df_nq = pd.DataFrame(time_series_data).T  # Transpose to have dates as rows

        # Rename columns
        df_nq = df_nq.rename(columns={
            '1. open': 'Open',
            '2. high': 'High',
            '3. low': 'Low',
            '4. close': 'Close',
            '5. volume': 'Volume'
        })
        # Print the DataFrame
        print(df_nq)
    else:
        print("Error: 'Time Series (Daily)' not found in API response")
else:
    print(f"Error: {response.status_code} - {response.text}")

               Open     High      Low    Close   Volume
2024-04-05  61.0500  62.0600  60.9500  62.0400  1929386
2024-04-04  62.0000  62.4000  60.8400  61.0600  2076159
2024-04-03  61.4000  61.9900  61.3000  61.5800  2250746
2024-04-02  61.7500  61.8100  60.8650  61.3300  3135949
2024-04-01  62.9700  63.0400  62.2100  62.2900  2287324
...             ...      ...      ...      ...      ...
2002-07-08  14.0000  14.0000  14.0000  14.0000      300
2002-07-05  15.0000  15.0000  15.0000  15.0000      500
2002-07-03  14.0000  16.0000  14.0000  15.0000    10200
2002-07-02  15.5000  16.5000  15.0000  15.1300     7000
2002-07-01  15.0000  15.0000  15.0000  15.0000     1300

[5479 rows x 5 columns]

In [162]:
# Convert all columns to numeric type
df_nq = df_nq.apply(pd.to_numeric, errors='coerce')

# Convert the index to datetime
df_nq.index = pd.to_datetime(df_nq.index)

# Group by year and calculate yearly changes for each column
df_nq_year = df_nq.resample('Y').last().pct_change()

# Drop the first row (NaN values since there's no previous year)
df_nq_year = df_nq_year.drop(df_nq_year.index[0])

# Extract only the year from the index and reset index
df_nq_year.reset_index(inplace=True)
df_nq_year['Year'] = df_nq_year['index'].dt.strftime('%Y')
df_nq_year.drop(columns=['index'], inplace=True)

# Convert the values to decimal format
df_nq_year.iloc[:, :5] *= 100

# Print the resulting DataFrame
print(df_nq_year)

          Open        High         Low       Close       Volume  Year
0   -13.425926  -12.037037   -8.000000   -5.500000   -71.472393  2003
1     9.625668   10.526316   10.326087    7.936508  1031.182796  2004
2   245.365854  239.142857  243.842365  244.901961   627.756654  2005
3   -11.016949  -11.345128  -12.464183  -12.478681   130.172414  2006
4    56.984127   57.776370   61.243863   60.734005   -17.727840  2007
5   -52.295248  -50.050191  -52.415753  -50.070721    29.721341  2008
6   -14.158542  -18.408360  -15.443686  -19.789559   -11.442548  2009
7    17.037037   17.733990   19.298688   19.727548   -47.259081  2010
8     3.881857    3.347280    3.658279    3.286979   -27.743625  2011
9     1.056052    1.315789    0.983272    1.958384    12.305026  2012
10   60.610932   60.439560   60.064240   59.263705   -22.053872  2013
11   22.322322   21.743462   21.032372   20.502513   -20.635349  2014
12   20.233224   20.826514   21.313869   21.288574    83.223041  2015
13   14.514208   14.188960   15.128073   15.385938   -32.083914  2016
14   14.115899   14.427639   14.379573   14.466627    68.001436  2017
15    5.364583    6.323701    5.156658    6.169465   -50.302276  2018
16   32.278794   31.090798   32.414649   31.298271   -32.602105  2019
17   21.449925   23.531052   21.395087   23.940243    65.616377  2020
18   60.769231   59.057726   61.105962   58.211541   -23.833884  2021
19  -70.622010  -70.871581  -70.882071  -70.787105   204.996714  2022
20   -5.211726   -5.222547   -4.856767   -5.232274    28.292942  2023
21    4.896907    6.367298    5.468074    6.707946    26.595479  2024

In [163]:
# Convert 'Year' column in df_pop to int64
df_pop['Year'] = df_pop['Year'].astype(int)
us_data['Year'] = us_data['Year'].astype(int)
df_nq_year['Year'] = df_nq_year['Year'].astype(int)


years_df = pd.DataFrame({'Year': range(2013, 2022)})

# Merge the new DataFrame with 'df_pop' to get corresponding population data
merged_df = pd.merge(years_df, df_pop, on='Year', how='left')

# Merge 'us_data' with 'merged_df' to add debt percent values
merged_df = pd.merge(merged_df, us_data, on=['Year'], how='left')

# Merge 'df_nq_year' with 'merged_df' to add debt percent values
merged_df = pd.merge(merged_df, df_nq_year, on=['Year'], how='left')

# Rename the 'Value' column to 'Debt_Percent'
merged_df = merged_df.rename(columns={'Value': 'US Debt Percent'})

columns_to_drop3 = ['Country Name', 'High', 'Low', 'Volume']
merged_df = merged_df.drop(columns=columns_to_drop3)

merged_df = merged_df.rename(columns={'Open': 'Open Nasdaq % Change'})
merged_df = merged_df.rename(columns={'Close': 'Close Nasdaq % Change'})

# Print the resulting DataFrame
print(merged_df)

   Year         Nation  Population  US Debt Percent  Open Nasdaq % Change  \
0  2013  United States   311536594        95.534688             60.610932
1  2014  United States   314107084        95.766699             22.322322
2  2015  United States   316515021        96.425228             20.233224
3  2016  United States   318558162        98.504102             14.514208
4  2017  United States   321004407        97.692936             14.115899
5  2018  United States   322903030        99.060976              5.364583
6  2019  United States   324697795       100.805042             32.278794
7  2020  United States   326569308       126.243301             21.449925
8  2021  United States   329725481       120.361476             60.769231

   Close Nasdaq % Change
0              59.263705
1              20.502513
2              21.288574
3              15.385938
4              14.466627
5               6.169465
6              31.298271
7              23.940243
8              58.211541

In [164]:
import sqlite3
# Create a SQLite database connection
conn = sqlite3.connect('project_database.db')
cursor = conn.cursor()

#drop tables if they exist
cursor.execute("DROP TABLE IF EXISTS population")
cursor.execute("DROP TABLE IF EXISTS stock_data")
cursor.execute("DROP TABLE IF EXISTS debt_data")

#rename in order to to_sql to work later on
us_data.rename(columns={'Country Name': 'Country_Name'}, inplace=True)

#generate the tables
cursor.execute('''CREATE TABLE population(
                  Population INTEGER PRIMARY KEY,
                  Nation TEXT,
                  Year INTEGER
                )''')

cursor.execute('''CREATE TABLE stock_data(
                  Open FLOAT PRIMARY KEY,
                  Year INTEGER,
                  Close FLOAT,
                  High FLOAT,
                  Low FLOAT,
                  Volume FLOAT
                )''')

cursor.execute('''CREATE TABLE debt_data(
                  Value FLOAT PRIMARY KEY,
                  Country_Name TEXT,
                  Year INTEGER
                )''')

# Convert DataFrames to SQL tables (assuming these DataFrames are defined elsewhere in your code)
df_pop.to_sql('population', conn, index=False, if_exists='append')
df_nq_year.to_sql('stock_data', conn, index=False, if_exists='append')
us_data.to_sql('debt_data', conn, index=False, if_exists='append')


#create the other tables from scratch
df_nq.to_sql('stock_daily_data', conn, index=False, if_exists='replace')
merged_df.to_sql('Combined_data', conn, index=False, if_exists='replace')

cursor.execute("DROP TABLE IF EXISTS Combined_with_fk")

# Enable foreign key constraints
cursor.execute("PRAGMA foreign_keys=ON")

# Define the schema for Combined_with_fk table
cursor.execute('''CREATE TABLE Combined_with_fk(
                  Year INTEGER PRIMARY KEY,
                  Population INTEGER,
                  OpenNasdaq FLOAT,
                  Debt FLOAT,
                  FOREIGN KEY(Population) REFERENCES population(Population),
                  FOREIGN KEY(OpenNasdaq) REFERENCES stock_data(Open),
                  FOREIGN KEY(Debt) REFERENCES debt_data(Value)
                )''')

# Populate Combined_with_fk
for year in range(2013, 2023):
    cursor.execute('''
        INSERT INTO Combined_with_fk (Year, Population, OpenNasdaq, Debt)
        SELECT ?, P.Population, S.Open, D.Value
        FROM population P
        LEFT JOIN stock_data S ON P.Year = S.Year
        LEFT JOIN debt_data D ON P.Year = D.Year
        WHERE P.Year = ?
    ''', (year, year))

# Commit the changes and close the connection
conn.commit()
conn.close()

In [165]:
import sqlite3

# Create a SQLite database connection
conn = sqlite3.connect('project_database.db')
cursor = conn.cursor()

# Fetch table names excluding 'stock_daily_data'
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name != 'stock_daily_data';")
table_names = cursor.fetchall()

# Iterate over table names and display data
for table in table_names:
    table_name = table[0]
    print(f"Table: {table_name}")
    # Fetch and display data from the table
    cursor.execute(f"SELECT * FROM {table_name};")
    data = cursor.fetchall()
    for row in data:
        print(row)
    print()

# Close the connection
conn.close()

Table: Year
(2013,)
(2014,)
(2015,)
(2016,)
(2017,)
(2018,)
(2019,)
(2020,)
(2021,)

Table: population
(311536594, 'United States', 2013)
(314107084, 'United States', 2014)
(316515021, 'United States', 2015)
(318558162, 'United States', 2016)
(321004407, 'United States', 2017)
(322903030, 'United States', 2018)
(324697795, 'United States', 2019)
(326569308, 'United States', 2020)
(329725481, 'United States', 2021)

Table: stock_data
(-13.425925925925931, 2003, -5.500000000000005, -12.037037037037045, -8.000000000000007, -71.47239263803681)
(9.625668449197855, 2004, 7.9365079365079305, 10.526315789473696, 10.326086956521753, 1031.1827956989248)
(245.3658536585366, 2005, 244.90196078431376, 239.14285714285714, 243.84236453201967, 627.7566539923955)
(-11.016949152542367, 2006, -12.478681068789088, -11.345127773097442, -12.464183381088823, 130.17241379310346)
(56.984126984127, 2007, 60.734004546930834, 57.77636997149194, 61.24386252045826, -17.72784019975031)
(-52.29524772497472, 2008, -50.07072135785007, -50.050190724754074, -52.41575314656922, 29.721340874603385)
(-14.158541754980924, 2009, -19.789558883043302, -18.408360128617364, -15.44368600682594, -11.44254798745148)
(17.037037037037027, 2010, 19.72754793138245, 17.73399014778323, 19.298688193743697, -47.259081356949864)
(3.881856540084394, 2011, 3.286978508217442, 3.347280334728042, 3.6582787058574873, -27.743624772313304)
(1.0560519902518273, 2012, 1.9583843329253225, 1.3157894736842035, 0.9832721338229211, 12.305025996533804)
(60.61093247588425, 2013, 59.26370548219288, 60.439560439560445, 60.06423982869378, -22.05387205387206)
(22.322322322322318, 2014, 20.50251256281408, 21.743462017434624, 21.03237205780275, -20.63534917206623)
(20.233224222585932, 2015, 21.288573811509593, 20.826513911620292, 21.313868613138688, 83.22304116112937)
(14.514207929215583, 2016, 15.38593776860926, 14.188960379275306, 15.128072889805733, -32.08391404120695)
(14.115898959881124, 2017, 14.466626936829542, 14.42763938315541, 14.379572943108855, 68.00143609818683)
(5.364583333333339, 2018, 6.169465052713785, 6.323700920046638, 5.156657963446487, -50.30227621092187)
(32.27879387048937, 2019, 31.298271423317402, 31.090798293723342, 32.41464928615767, -32.60210462900511)
(21.449925261584447, 2020, 23.9402427637722, 23.531052435849766, 21.395087192949557, 65.61637713264157)
(60.769230769230774, 2021, 58.211541359047736, 59.05772559644766, 61.10596231078161, -23.833883807836486)
(-70.62200956937798, 2022, -70.78710537593447, -70.87158133812814, -70.88207094918504, 204.9967137018095)
(-5.2117263843648125, 2023, -5.232273838630808, -5.222547108512021, -4.856766545933489, 28.292941622122147)
(4.896907216494828, 2024, 6.707946336429305, 6.367297968977637, 5.4680740612562895, 26.595479431201994)

Table: debt_data
(39.128400199944, 'United States', 1989)
(40.933943570707, 'United States', 1990)
(44.0615972806026, 'United States', 1991)
(46.0501444176036, 'United States', 1992)
(48.2461403335599, 'United States', 1993)
(47.3534821707435, 'United States', 1994)
(47.2095352870886, 'United States', 1995)
(46.7417685500108, 'United States', 1996)
(44.1174698332784, 'United States', 1997)
(41.1291489790385, 'United States', 1998)
(37.7272782686058, 'United States', 1999)
(33.2676548646821, 'United States', 2000)
(52.4436763286348, 'United States', 2001)
(53.8625140415158, 'United States', 2002)
(56.2504045927814, 'United States', 2003)
(56.6622864008834, 'United States', 2004)
(56.5388479068386, 'United States', 2005)
(55.4673357624473, 'United States', 2006)
(55.6599261078117, 'United States', 2007)
(63.8151298190915, 'United States', 2008)
(75.8420482989664, 'United States', 2009)
(84.9644109904045, 'United States', 2010)
(89.5468170333317, 'United States', 2011)
(93.6492617595668, 'United States', 2012)
(95.5346882113219, 'United States', 2013)
(95.7666986884038, 'United States', 2014)
(96.4252279492666, 'United States', 2015)
(98.5041017174837, 'United States', 2016)
(97.6929363628875, 'United States', 2017)
(99.0609761173397, 'United States', 2018)
(100.805042202199, 'United States', 2019)
(126.243300547564, 'United States', 2020)
(120.36147560281, 'United States', 2021)
(115.696631642669, 'United States', 2022)

Table: Combined_data
(2013, 'United States', 311536594, 95.5346882113219, 60.61093247588425, 59.26370548219288)
(2014, 'United States', 314107084, 95.7666986884038, 22.322322322322318, 20.50251256281408)
(2015, 'United States', 316515021, 96.4252279492666, 20.233224222585932, 21.288573811509593)
(2016, 'United States', 318558162, 98.5041017174837, 14.514207929215583, 15.38593776860926)
(2017, 'United States', 321004407, 97.6929363628875, 14.115898959881124, 14.466626936829542)
(2018, 'United States', 322903030, 99.0609761173397, 5.364583333333339, 6.169465052713785)
(2019, 'United States', 324697795, 100.805042202199, 32.27879387048937, 31.298271423317402)
(2020, 'United States', 326569308, 126.243300547564, 21.449925261584447, 23.9402427637722)
(2021, 'United States', 329725481, 120.36147560281, 60.769230769230774, 58.211541359047736)

Table: Combined_with_fk
(2013, 311536594, 60.61093247588425, 95.5346882113219)
(2014, 314107084, 22.322322322322318, 95.7666986884038)
(2015, 316515021, 20.233224222585932, 96.4252279492666)
(2016, 318558162, 14.514207929215583, 98.5041017174837)
(2017, 321004407, 14.115898959881124, 97.6929363628875)
(2018, 322903030, 5.364583333333339, 99.0609761173397)
(2019, 324697795, 32.27879387048937, 100.805042202199)
(2020, 326569308, 21.449925261584447, 126.243300547564)
(2021, 329725481, 60.769230769230774, 120.36147560281)

In [166]:
conn = sqlite3.connect('project_database.db')
cursor = conn.cursor()

#query the database to find the name of the contry (USA), population and debt percentage for an individual year
cursor.execute("SELECT p.Nation, p.Population, d.Value AS Debt FROM population p INNER JOIN debt_data d ON p.Year = d.Year WHERE p.Year = 2019;")

#print this result
results = cursor.fetchall()
for row in results:
    print(row)
# Close the connection
conn.close()

('United States', 324697795, 100.805042202199)

In [167]:
conn = sqlite3.connect('project_database.db')
cursor = conn.cursor()

#query the database to select the average Debt value and Open value for every year
cursor.execute("SELECT p.Year, AVG(d.Value) AS AvgDebt, AVG(s.Open) AS AvgOpenNasdaq FROM population p LEFT JOIN debt_data d ON p.Year = d.Year LEFT JOIN stock_data s ON p.Year = s.Year GROUP BY p.Year ORDER BY p.Year;")

results = cursor.fetchall()
for row in results:
    print(row)
# Close the connection
conn.close()

(2013, 95.5346882113219, 60.61093247588425)
(2014, 95.7666986884038, 22.322322322322318)
(2015, 96.4252279492666, 20.233224222585932)
(2016, 98.5041017174837, 14.514207929215583)
(2017, 97.6929363628875, 14.115898959881124)
(2018, 99.0609761173397, 5.364583333333339)
(2019, 100.805042202199, 32.27879387048937)
(2020, 126.243300547564, 21.449925261584447)
(2021, 120.36147560281, 60.769230769230774)

In [168]:
conn = sqlite3.connect('project_database.db')
cursor = conn.cursor()

#Query the database for the average population, debt, open nasdaq value and the debt percent to nasdaq percent change ratio
cursor.execute("SELECT p.Year, AVG(p.Population) AS AvgPopulation, AVG(d.Value) AS AvgDebt, AVG(s.Open) AS AvgOpenNasdaq, AVG(d.Value) / AVG(s.Open) AS DebtToNasdaqRatio FROM population p LEFT JOIN debt_data d ON p.Year = d.Year LEFT JOIN stock_data s ON p.Year = s.Year GROUP BY p.Year ORDER BY p.Year;")

results = cursor.fetchall()
for row in results:
    print(row)
# Close the connection
conn.close()

(2013, 311536594.0, 95.5346882113219, 60.61093247588425, 1.5761956516562923)
(2014, 314107084.0, 95.7666986884038, 22.322322322322318, 4.2901763224087635)
(2015, 316515021.0, 96.4252279492666, 20.233224222585932, 4.7656877069364505)
(2016, 318558162.0, 98.5041017174837, 14.514207929215583, 6.786736293008814)
(2017, 321004407.0, 97.6929363628875, 14.115898959881124, 6.920773281286664)
(2018, 322903030.0, 99.0609761173397, 5.364583333333339, 18.465735353911846)
(2019, 324697795.0, 100.805042202199, 32.27879387048937, 3.122949469755721)
(2020, 326569308.0, 126.243300547564, 21.449925261584447, 5.8854890638550765)
(2021, 329725481.0, 120.36147560281, 60.769230769230774, 1.9806318770082658)